.author-overview h1 {
    font-size: 2.5rem;
}

.author-overview p {
    font-size: 1.2rem;
    margin: 5px 0;
}

.card {
    margin-bottom: 20px;
}

.card-title {
    color: #333;
}

.card-link {
    margin-right: 15px;
}

.card-link i {
    margin-right: 5px;
}

.publication-item {
  border-left: 1px solid #f4f5f7;
  position: relative;
  padding: 32px 24px 8px 40px;
  margin-left: 35px;
}

@media (min-width: 768px) {
  .publication-item {
    margin-left: 110px;
  }
}

.publication-icon {
  position: absolute;
  left: -1.3rem;
  width: 42px;
  text-align: center;
  font-size: 22px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .publication-date {
    position: absolute;
    left: -10rem;
    width: 7.5rem;
    text-align: right;
  }
}
