{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="publication-item" style="border-left: 1px solid #f4f5f7; position: relative; padding: 32px 24px 8px 40px; margin-left: 35px;">
    <i class="publication-icon fas fa-book" style="position: absolute; left: -1.3rem; width: 42px; text-align: center; font-size: 22px; background-color: #fff;"></i>
    <h2> Publications </h2>
    <h3 class="publication-date" style="position: absolute; left: -10rem; width: 7.5rem; text-align: right;">{{ post.date | date: "%Y" }}</h3>
    <div class="card" style="margin-bottom: 20px;">
      <div class="card-body">
        <h5 class="card-title" style="color: #333;">{{ post.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted"> {{ post.authors }} </h6>
        <p class="card-text"> {{ post.abstract }} </p>
        <p class="card-text"><strong> Conference: </strong> {{ post.conference }} </p>
        {% if post.paper_link %}
          <a href="{{ post.paper_link }}" class="card-link" style="margin-right: 15px;"><i class="fas fa-link" style="margin-right: 5px;"></i> Paper Link </a>
        {% endif %}
        {% if post.website_link %}
          <a href="{{ post.website_link }}" class="card-link" style="margin-right: 15px;"><i class="fas fa-globe" style="margin-right: 5px;"></i> Website </a>
        {% endif %}
        {% if post.github_link %}
          <a href="{{ post.github_link }}" class="card-link" style="margin-right: 15px;"><i class="fab fa-github" style="margin-right: 5px;"></i> GitHub </a>
        {% endif %}
      </div>
    </div>
  </article>

  <style>
    @media (min-width: 768px) {
      .publication-item {
        margin-left: 110px;
      }
      .publication-date {
        left: -10rem;
      }
    }
  </style>
</div>
